<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mappper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dark.mappers.GoodsMapper">
    <resultMap id="GoodsResult" type="Goods">
        <result property="categoryid" column="categoryid"/>
        <association property="category" fetchType="lazy" column="categoryid"
                     select="com.dark.mappers.CategoryMapper.findCategoryById"/>
    </resultMap>
    <select id="findGoodsById" resultMap="GoodsResult">
        SELECT *
        FROM mall_goods
        WHERE id = #{id}
    </select>
    <select id="findAllGoods" resultMap="GoodsResult">
        SELECT *
        FROM mall_goods
    </select>
    <!--    同一个分类 结果类型可以是resultType，在service 层手动给每个Goods的category赋值-->
    <select id="findGoodsByCategoryId" resultType="Goods">
        SELECT *
        FROM mall_goods
        WHERE categoryid = #{categoryId}
    </select>
    <select id="searchGoodsByNameAndCategoryId" resultMap="GoodsResult">
        SELECT * FROM
        mall_goods
        WHERE
        1=1
        <if test="name!=null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="categoryid != null">
            AND categoryid=#{categoryid}
        </if>
    </select>
    <insert id="insertGoods" parameterType="Goods">
        INSERT INTO mall_goods( name, goodsno, author, publisher, pubtime, categoryid, description, image
                              , stock, marketprice, salesprice, uptime, downtime, salenums, newest, hot, status)
        VALUES ( #{name}, #{goodsno}, #{author}, #{publisher}
               , #{pubtime}, #{categoryid}, #{description}, #{image}
               , #{stock}, #{marketprice}, #{salesprice}, #{uptime}
               , #{downtime}, #{salenums}, #{newest}, #{hot}, #{status})
    </insert>
    <update id="updateGoods" parameterType="Goods">
        UPDATE mall_goods
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="goodsno!=null">
                goodsno = #{goodsno},
            </if>
            <if test="author!=null">
                author = #{author},
            </if>
            <if test="publisher!=null">
                publisher = #{publisher},
            </if>
            <if test="pubtime!=null">
                pubtime=#{pubtime},
            </if>
            <if test="categoryid!=null">
                categoryid=#{categoryid},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="image!=null">
                image=#{image},
            </if>
            <if test="stock!=null">
                stock=#{stock},
            </if>
            <if test="marketprice!=null">
                marketprice=#{marketprice},
            </if>
            <if test="salesprice!=null">
                salesprice=#{salesprice},
            </if>
            <if test="uptime!=null">
                uptime=#{uptime},
            </if>
            <if test="downtime!=null">
                downtime=#{downtime},
            </if>
            <if test="salenums!=null">
                salenums=#{salenums},
            </if>
            <if test="newest!=null">
                newest=#{newest},
            </if>
            <if test="hot!=null">
                hot=#{hot},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <delete id="deleteGoodsById">
        DELETE FROM mall_goods WHERE id=#{id}
    </delete>
</mapper>